.ant-layout-sider {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    inset-inline-start: 0;
    scrollbar-width: thin;
    scrollbar-color: unset;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
